@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
  font-family: "Noto Sans", "Noto Sans CJK JP", 'Hiragino Kaku Gothic Pro', '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic', 'ＭＳ ゴシック' , 'MS Gothic', sans-serif;    
  font-size: 16px;
  font-weight: 350;    
}